<%= render partial: "shared/navbar", locals: { location: 'PURCHASES'} %>

<div class="purchase">
  <% @category.each do |category| %>
    <%= render partial: "shared/categoryCard", locals: { category: category} %>

    <div class="transactions">
      <div class="item_info">
        <div>Item name</div>
        <div>amount</div>
      </div>
      <% category.purchases.order("created_at DESC").each do |purchase| %>
        <div class="transaction">
          <div><%= purchase.name %></div>
          <div><%= purchase.amount %></div>
        </div>
      <% end %>
    </div>

    <%= link_to new_category_purchase_path(category) do %>
      <button class='btn_category add_purchase'>New Purchase</button>
    <% end %>
  <% end %>
</div>
