<%= render partial: "shared/navbar", locals: { location: 'NEW PURCHASE'} %>

<div class="form_category">
  <%= form_with model: @purchase, url: category_purchases_path  do |f| %>

    <div class="form_inputs">
      <div>
        <%= f.text_field :name, placeholder: "Name", class: "input"%>
      </div>

      <div>
        <%= f.number_field :amount, placeholder: "Price", class: "input"%>
      </div>

      <div class="select_category">
        <%= f.label "select the category(s)", class: "category_top"%>
        <%= f.label "Use ctrl to select more than one", class: "category_info"%>
        <%= f.collection_select :category_ids, @category.order(:name), :id, :name, {}, { class: "select", multiple: true }%>
      </div>

    </div>

    <div class="actions">
      <%= f.submit "Add", class: "sign"%>
    </div>
  <% end %>
</div>