<%= render partial: "shared/navbar", locals: { location: 'ADD CATEGORY'} %>

<div class="form_category">
  <%= form_with model: @category, url: categories_path  do |f| %>

    <div class="form_inputs">
      <div>
        <%= f.text_field :name, placeholder: "Name", class: "input"%>
      </div>

      <div>
        <%= f.label :icon, class: "input" %>
        <%= f.file_field :icon, class: "input"%>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Add", class: "sign"%>
    </div>
  <% end %>
</div>